// colors
$primary_100: #1251AF;
$primary_80: #2B81F2;

$gray_80: #8E8E8E;
$gray_50: #C9C9C9;
$gray_20: #EAEAEA;

$white_100: #fff;

$black_100: #000;

$status_red_80: #FF5C5C;
$status_green_80: #24CBA3;