@import 'font';
@import 'variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SFProDisplay';
  transition: .3s all;
}

.heading_1 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
}

.heading_2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.body_1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.body_2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.button {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
}

.label {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.caption {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}